[Unit]
Description=Post installation - enabling extension dash-to-dock - dash-to-panel
[Service]
Type=simple
ExecStart=/gnome-extensions.sh
[Install]
WantedBy=multi-user.target

#Path /etc/systemd/system/gnome-post-install.service
#https://askubuntu.com/questions/156771/run-a-script-only-at-the-very-first-boot
